{% extends 'base.html' %}
{% block content %}
<div class="auth-container">
    <h1>🔑 Redefinir Senha</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="email" name="email" class="input-field" placeholder="Seu e-mail" required>
        </div>
        <button type="submit" class="btn-primary">Enviar Link</button>
        <div class="text-green mt-2">
            <a href="{% url 'login' %}" class = 'text-green'>Voltar para Login</a>
        </div>
    </form>
</div>
{% endblock %}